# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# OS related
Thumbs.db
db.json

# Tauri/Rust
src-tauri/target
src-tauri/gen

# User Data & CI
notes/
.github/
.github/workflows/
